*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;  
}
body{
    font-family: 'Lato', sans-serif;  
}
/* start header div */
.header-div{
background: rgba(229, 84, 115, 0.10);
display:flex;
height:650px;
padding:35px 150px 0px 150px;
justify-content: space-between;

}

.header-div1{

padding-top:170px;
width:350px
}
.header-btn{
    background-color: #E55473;
    border:none;
    margin-top:15px;
    border-radius: 4px;
    color:white;
}
.header-p{
    margin-top:10px;
}
.header-h1{
    font-size:43px;
}
.header-div2{

    padding-top:63px;
}
/* end header section */
/* start main section */
/* statr featured flowers section */
.feat{
    padding-top:90px;
 }
.feat-div{
    width:500px;
    text-align:center;
    margin:auto;
    }
.comon-p{
    margin-top:10px;
    line-height: 25px;
}
.feat-div2{ 
        display:flex;
        width:900px;
        height:420px;
        margin:auto;
        justify-content: space-around;
        align-items:center ;
    } 

 .feat-div1{ 
    background-color:rgba(167, 33, 98, 0.15) ;
    width:250px;
    height:340px;
    margin-top:45px;
    border-radius: 200px 200px 0px 0px;
    
}
.feat-div3{
    background-color: rgb(192, 231, 231);
    width:267px;
    height:340px;
    margin-top:45px;
    border-radius: 200px 200px 0px 0px;

}

.feat-div4{
    background-color:rgba(71, 125, 17, 0.15);
    width:255px;
    height:340px;
    margin-top:45px;
    border-radius: 200px 200px 0px 0px;
    
}

.feat-img{
    height:250px;
    margin:90px 50px 0px 30px;
    
}
.flowers-name-con{
    width:900px;
    height:20px;
    display: flex;
    margin:auto;
    justify-content: space-around;

}
.flowers-name-con >h5 {
text-decoration: underline;
}

/* start same section */
.same{
   padding:100px 220px;
}
.same-div{
    background: rgba(39, 39, 39, 0.05);
    width:880px;
    height:350px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.same-div1 > h5{
    margin-top:10px;
}
/* end same section */
/* hot deal section start */

.hot-contain{
    padding:90px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.hot-div1{
    width:500px;
    text-align: center;
    height: 200px;
}
span{
    color:#E55473;
}
.hot-p{
    margin-top:17px;
    font-size:15px;
}
.hot-btn{
    background-color: #E55473;
    border:none;
    border-radius: 5px;
    color:beige;
    padding:9px 20px;
    margin-top: 20px;
}


/* hot deal section end */
/* insta gram section start */

.instagrm-div{
    width:500px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.instagrm-div1{
    width:1000px;
    margin:auto;
}
.instagrm-div1 > img{
    height:250px;
    padding: 2px;
    margin: 35px 15px;
    
}
/* instagram section end */
/* deal section start */
.deal{
    height: 700px;
    padding:160px;
}
.deal-container{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width:1000px;
    height:750px;
    padding-top: 90px;
    
}
.deal-div{
    width:400px;
    text-align: center;
    margin: auto;
    
}
.deal-div2{

    width:800px;
    text-align: center;
    margin:50px auto;
   
}
input{
    width:520px;
    height:40px;
    border:1px solid rgb(216, 213, 213);
    background-color: #FFF;
}
button{
    background-color: #E55473;
    width: 90px;
    height:40px;
    border: none;
    border-radius: 8px;
    color:wheat;
}
/* deal section end */
/* footer start */
.foot{
    background-color: black;
}
.foot-div{
    width:690px;
    text-align: center;
    padding:100px;
    color:white;
    margin: auto;
    line-height: 25px;

}
.foot-h2{
    font-size:54px;
}
.foot-p{
    margin-top: 20px;
}
.foot-sml{
    color:rgb(126, 126, 121);
}











